# =========================
# Node & dependencies
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# =========================
# Build outputs
# =========================
dist/
build/
.out/
.next/
expo-build/

# =========================
# Logs
# =========================
*.log
*.tmp
*.temp

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# React Native (mobile)
# =========================
expo/
.expo/
.expo-shared/
*.apk
*.aab

# =========================
# Testing
# =========================
coverage/
jest-cache/
jest-output/

# =========================
# Misc
# =========================
.env
.env.*.local
*.local
