/* apps/web/src/styles/MenuItemCard.css */
.item-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .popular-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .item-image {
    width: 100% !important;
    height: 150px !important;
    object-fit: cover !important;
  }
  
  .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
  }

  .favorite:hover{
    background-color: #f42b2b;
    color: #000000;
  }
  
  .item-details {
    padding: 15px;
  }
  
  .item-details h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .price {
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .item-info {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 10px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .tag {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #fff;
  }
  
  .tag.vegetarian {
    background-color: #4caf50;
  }
  
  .tag.gluten-free, .tag.gluten-free-option {
    background-color: #2196f3;
  }
  
  .tag.pescatarian {
    background-color: #2196f3;
  }
  
  .tag.healthy {
    background-color: #4caf50;
  }
  
  /* Add more tag styles as needed */
  
  .customize {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-left: 8px;
    margin-right: 8px;
    width: 70%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .add {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    width: 20%;
    border: solid 1px #767676;
    border-radius: 8px;
    cursor: pointer;
  }

  .add:hover{
    background-color: #cec9c9;
  }